certifi==2019.3.9
chardet==3.0.4
Click==7.0
idna==2.8
iso-639==0.4.5
iso3166==1.0
isodate==0.6.0
pycryptodome==3.8.1
pydub==0.23.1
PySocks==1.7.0
requests==2.22.0
six==1.12.0
streamlink==1.1.1
urllib3==1.25.2
websocket-client==0.56.0
kafka-python==1.4.6
